####
# OSX
####
*.DS_Store

####
# FlashDevelop
####
# /air-sqlite.as3proj

####
# FlashBuilder
####
.settings
# /bin
# /lib
.idea
.actionScriptProperties
.flexLibProperties
.project
*.iml

####
# FlexUnit
####
# /.FlexUnitSettings
# */FlexUnitApplication.mxml
# */FlexUnitApplication-app.xml